<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>xtoshiii</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    
</head>
<body>
    <!--导航-->
    <div class="navbar-header">
    
    <a class="navbar-brand">lalalalalalalalalalallalal</a>
  </div>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
       <ul class="nav navbar-nav navbar-left">
           <li class="active"><a href="#">首页</a></li>
           <li><a href="#">工具资源</a></li>
           

           <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
       </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="bu"><a href="">登录</a></li>
          <li class="bu"><a href="">注册</a></li>
        </ul>


   </div>

</nav>
    <div class="container">
        <div class="row">


            <div class="col-md-2">
                <a href="#" class="thumbnail">
                     <img src="{% static 'images/cats_heads.jpg' %}"
                        alt="通用的占位符缩略图" class="img-circle">
                </a>
           
           <h3 >xtoshiii</h3>
           <p class="text-left">毕业于帝都钢院，现为无业游民</p>
           <p class="text-left">技术栈:</p>
           <p class="text-left">python</p>
           <!-- <a href="#" class="text-left">java</a> -->
           <br>
<!--           <p>推荐文章</p>-->
<!--           <a href="#" class="text-left">java</a>-->
<!--           <br>-->
<!--           <a href="#" class="text-left">java</a>-->
<!--           <br>-->
<!--           <a href="#" class="text-left">java</a>-->
<!--           <br>-->
<!--           <a href="#" class="text-left">java</a>-->
            </div>
       
<div class="col-md-8 text-center">



      {% block content %}

      {% endblock %}



</div>


<div class="col-md-2 text-center">


      {% block toc %}
      {% endblock %}

      
</div>



       </div>
   </div>
</div>
    <!--产品功能截图-->
    



    <!--底部-->
    

</body>
</html>